header {
    background-color: var(--color-neutral-1);
    padding: 12px 4%;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: box-shadow 0.3s ease;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 180px;
        }

        ul {
            display: none;
            list-style: none;
            flex-direction: column;
            gap: 0.5rem;
            width: 100%;
            position: absolute;
            top: 80px;
            background-color: var(--color-neutral-1);
            left: 0;
            padding: 1rem;

            &.show {
                display: flex;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            }

            li {
                text-align: center;

                a {
                    color: var(--color-neutral-8);
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 500;
                    transition: color 0.3s ease;
                    position: relative;

                    &:hover {
                        color: var(--color-primary-1);
                    }

                    &:hover::after {
                        content: '';
                        position: absolute;
                        bottom: -8px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: var(--color-primary-1);
                    }

                    &.active {
                        color: var(--color-primary-1);
                    }
                }
            }
        }

        .btn-default {
            display: none;
        }
    }
}